<div class="container-fluid login-container">
    <div class="login-form">
        <h1 class= "mb-4"> Login</h1>
        <form class="login-form" id="login-form">
        <label for="username" class="sr-only">Username:</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>
        <br>
        <label for="password" class="sr-only">Password:</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <br>
            <button type="submit" class="btn btn-primary btn-block login-button" id="login-button">Login</button>
            <button type="button" class="btn btn-secondary btn-block create-user-button" id="create-user-button">Create User</button>
        </form>
    </div>
</div>

<style>
    .login-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        margin: 0;
        background: url('../login-background.jpg') center/cover fixed no-repeat;
    }

    .login-form {
        text-align: center;
        display: inline-block;
        background-color:  white;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        width: 100%;
    }

    .login-form h1 {
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
    }

    .login-form label,
    .login-form input {
        display: block;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;
        text-align: left;
    }

    .login-form input[type="text"],
    .login-form input[type="password"] {
        width: calc(100% - 22px);
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        border-radius: 10px;
        background-color: #f2f2f2;
    }

    .login-button,
    .create-user-button {
        width: 100%;
        padding: 15px;
        border: none;
        border-radius: 25px;
        background-color: #3498db;
        color: white;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .login-button:hover,
    .create-user-button:hover {
        background-color: #2980b9;
    }
</style>

